/* ===================== FILE INPUT ===================== */
/* line 4, ../sass/newpost.scss */
.file-area {
  width: 100%;
  position: relative;
}
/* line 8, ../sass/newpost.scss */
.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
/* line 20, ../sass/newpost.scss */
.file-area .file-dummy {
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: background 0.3s ease-in-out;
}
/* line 28, ../sass/newpost.scss */
.file-area .file-dummy .success {
  display: none;
}
/* line 33, ../sass/newpost.scss */
.file-area:hover .file-dummy {
  background: rgba(255, 255, 255, 0.1);
}
/* line 37, ../sass/newpost.scss */
.file-area input[type=file]:focus + .file-dummy {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}
/* line 42, ../sass/newpost.scss */
.file-area input[type=file]:valid + .file-dummy {
  border-color: rgba(0, 255, 0, 0.4);
  background-color: rgba(0, 255, 0, 0.3);
}
/* line 46, ../sass/newpost.scss */
.file-area input[type=file]:valid + .file-dummy .success {
  display: inline-block;
}
/* line 49, ../sass/newpost.scss */
.file-area input[type=file]:valid + .file-dummy .default {
  display: none;
}

/* ===================== BASIC STYLING ===================== */
/* line 65, ../sass/newpost.scss */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* line 70, ../sass/newpost.scss */
html,
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  height: 100%;
  background: #053777;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: -moz-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: -o-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: linear-gradient(to bottom right, #8A0886 0%, #0B0B61 100%);
}

/* line 100, ../sass/newpost.scss */
h1 {
  text-align: center;
  margin: 50px auto;
  font-weight: 100;
}

/* line 106, ../sass/newpost.scss */
label {
  font-weight: 500;
  display: block;
  margin: 4px 0;
  text-transform: uppercase;
  font-size: 13px;
  overflow: hidden;
}
/* line 114, ../sass/newpost.scss */
label span {
  float: right;
  text-transform: none;
  font-weight: 200;
  line-height: 1em;
  font-style: italic;
  opacity: 0.8;
}

/* line 124, ../sass/newpost.scss */
.form-controll {
  display: block;
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 200;
}
/* line 134, ../sass/newpost.scss */
.form-controll:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}

/* line 140, ../sass/newpost.scss */
/* button {
  padding: 8px 30px;
  background: rgba(255, 255, 255, 0.8);
  color: #053777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  border: 0;
  text-shadow: 0 1px 2px #fff;
  cursor: pointer;
} */

/* line 152, ../sass/newpost.scss */
.form-group {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

/* line 158, ../sass/newpost.scss */
.back-to-article {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 18px;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
/* line 172, ../sass/newpost.scss */
.back-to-article:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(720deg);
  }
}


.spin {
  border: 2px solid #1ecd97;
  color: #1ecd97;
  font-weight: 600;
  transition: all 200ms ease-in-out;
    position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
}
.spin span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease-in-out;
}
.spin span:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.spin svg {
  height: 30px;
  fill: #1ecd97;
}
.spin:hover {
  background-color: #1ecd97;
  color: #fff;
}
.spin.done, .spin.processing {
  pointer-events: none;
  cursor: default;
}
.spin.processing {
  width: 50px;
  border-width: 4px;
  border-right-color: #bbb;
  border-bottom-color: #bbb;
  animation: spin;
  animation-delay: 200ms;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.spin.processing:hover {
  background-color: transparent;
}
.spin.processing span:first-child {
  opacity: 0;
}
.spin.done:hover {
  background-color: transparent;
}
.spin.done span:first-child {
  opacity: 0;
}
.spin.done span:last-child {
  opacity: 1;
}

.group {
  display: none;
}

#group {
  display: block;
  position: absolute;
  top: 0;
  left: 80%;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 20, 224, 133, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

#group:hover {
  top: -3px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.3 );
  background: rgba( 20, 224, 133, 0.8);

  -webkit-transform: rotateX(5deg);
     -moz-transform: rotateX(5deg);
      -ms-transform: rotateX(5deg);
          transform: rotateX(5deg);
}

#group:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.3 );
  background: rgba( 20, 224, 133, 1 );
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  margin-top: -5px;
  line-height: 3;
  background: #2c3e50;
  overflow: visible;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}


.headwrap{
  position: relative;
}

.rogo{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  display: inline-block;
  margin: auto;
}

#header {
  background: url("http://thumb1.shutterstock.com/display_pic_with_logo/1487123/134611310/stock-vector-colorful-geometric-background-with-triangles-vector-eps-134611310.jpg");
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

.menu {
  margin: 20px;
}

nav {
    width: 312px;
    height: 100%;
    transition: all 0.2s;
    transform: translate(312px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #000;
    color:#fff;
   }
   nav.open {
    transform: translate(0);
   }


.btn_menu {
    display: block;
    background: none;
    border: none;
    padding: 0;
    width: 42px;
    color: #FFF;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 90%;
    z-index: 1001;
    outline: none;
  }
  /*   ハンバーガーボタン3本線   */
.btn_menu span.bar {
    display: block;
    height: 2px;
    background-color: #FFF;
    margin: 10px 0;
    transition: all 0.2s;
    transform-origin: 0 0;
  }
.btn_menu .close {
    letter-spacing: 0.08em;
    display: none;
  }
.btn_menu .menu {
    display: block;
  }
  /*  メニューアクティブ時  */
.btn_menu.active span.bar {
    width: 49px;
  }
.btn_menu.active .bar1 {
    transform: rotate(30deg);
  }
.btn_menu.active .bar2 {
    opacity: 0;
  }
.btn_menu.active .bar3 {
    transform: rotate(-30deg);
  }
.btn_menu.active .nav_menu {
    display: none;
  }
.btn_menu.active .close {
    display: block;
  }

#fadeLayer {
  position:absolute;
  top:0px;
  left:0px;

  width:100%;
  height:100%;

  background-color:#000000;
  opacity:0.5;
  visibility:hidden;
  z-index:1;
}


#form1{
position: relative;
}

#sbox {
height: 50px;
padding: 0 10px;
position: absolute;
left: 8%;
top: 20%;
width:200px;
border-radius:2px 0 0 2px;
border-right:none;
border:solid 3px #eaeaea;
outline: 0;
}

#sbtn{
padding: 0;
width: 70px;
height: 50px;
position: absolute;
left: 230px;
top: 20%;
border-radius:0 2px 2px 0;
background:#7fbfff;
color:#fff;
border:solid 3px #eaeaea;
font-weight:bold;
font-size:16px;
outline: 0;
}

#sbtn:hover{
background:#eaeaea;
color:#7fbfff;
}

a.h_button {
  display: inline-block;

  min-width: 5em;

  margin-right: 1ex;

  position: relative;
  top: calc(50% - 1em);

  text-align: center;
  font-size: 1.28em;
  font-weight: bold;

  background: rgba(0, 0, 0, 0.1);

  border: 2px solid white;

  transition: background 0.32s ease-in-out, box-shadow 0.32s ease-in-out;
}

a.h_button span {
  display: inline-block;

  width: 100%;
  height: 100%;

  padding: 1ex;

  color: white;

  transition: color 0.32s ease-in-out;
}
a.h_button:hover, a.h_button:focus, a.h_button.active {
  background: white;

  color: black;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.48);
}

a.h_button:hover span, a.h_button:focus span, a.h_button.active span {
  color: #444;
}

a.h_button_logout {
  display: inline-block;

  min-width: 5em;

  margin-right: 1ex;


  position: absolute;
  left: 25%;
  top: 35%;

  text-align: center;
  font-size: 1.28em;

  background: rgba(0, 0, 0, 0.1);

  border: 2px solid red;
  color: red ;

  transition: background 0.32s ease-in-out, box-shadow 0.32s ease-in-out;
}

a.h_button_logout span {
  display: inline-block;

  width: 100%;
  height: 100%;

  padding: 1ex;

  color: white;

  transition: color 0.32s ease-in-out;
}
a.h_button_logout:hover, a.h_button_logout:focus, a.h_button_logout.active {
  background: white;

  color: black;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.48);
}

a.h_button_logout:hover span, a.h_button_logout:focus span, a.h_button_logout.active span {
  color: #444;
}