@CHARSET "UTF-8";

* {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  height: 100%

  font-family: sans-serif;
}

body:after {

  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  content: "";
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: -moz-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: -o-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: linear-gradient(to bottom right, #8A0886 0%, #0B0B61 100%);
  z-index: -100;
}

.containar{
  width: 100%;
  height: 100%;
  text-align: center;
}

#photos{
  margin: 20px;
  text-align: center;

}

.wrap {
  position: relative;
  display: inline-block;
  z-index: 1;
  background: #FFFFFF;
  width: 1100px;
  height: 1200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.photo {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin: auto;
  margin-top: 20px;
  min-width: 400px;
  max-width: 1000px;
  max-height: 450px;
  overflow: hidden;
  text-align: center;
  background: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.photo * {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.photo img {
  opacity: 1;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

figure.photo figcaption {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
  transform: rotate(0deg) translateY(-50%) scale(1);
  -webkit-transform-origin: center 0;
  transform-origin: center 0;
}

figure.photo figcaption h2 {
  top: 50%;
  letter-spacing: -1px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
}

figure.photo figcaption h2 span {
  font-weight: 800;
}

figure.photo figcaption:before,
figure.photo figcaption:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.photo figcaption:before {
  left: 0;
  top: 0;
}

figure.photo figcaption:after {
  bottom: 0;
  right: 0;
}

figure.photo.blue {
  background: #091b27;
}

figure.photo.red {
  background: #2e0e0a;
}

figure.photo.yellow {
  background: #4f3204;
}

figure.photo.green {
  background: #061c10;
}

figure.photo.navy {
  background: #000000;
}

figure.photo a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.photo:hover img,
figure.photo.hover img {
  opacity: 1;
}

figure.photo:hover figcaption,
figure.photo.hover figcaption {
  -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.photo:hover figcaption:before,
figure.photo.hover figcaption:before,
figure.photo:hover figcaption:after,
figure.photo.hover figcaption:after {
  width: 200%;
}

.icon img{
  margin-right: 8px;
  border-radius: 50%;
  display: inline-block;
  transform: translatey(10px);
  padding: auto;
}


@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

@keyframes top {
  from {
    transform: translate(0rem, 0);
  }
  to {
    transform: translate(0rem, 3.5rem);
  }
}
@keyframes bottom {
  from {
    transform: translate(-11.5rem, 0);
  }
  to {
    transform: translate(0rem, 0);
  }
}
.btn {
  position: relative;
  display: block;
  letter-spacing: 0.15em;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 40px;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  width: 35%;
  color: #111111;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}
.btn::after, .btn::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 10%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  border-radius: 50%;
}
.btn::before {
  background-color: #c92918;
  top: -0.75rem;
  left: 0.5rem;
  animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
}
.btn::after {
  background-color: #e74c3c;
  top: 3rem;
  left: 13rem;
  animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}
.btn:hover {
  color: white;
}
.btn:hover::before, .btn:hover::after {
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  animation: none;
}
.btn:hover::after {
  left: 0rem;
}
.btn:hover::before {
  top: 0.5rem;
  left: 0.35rem;
}



.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader:before,
.loader:after {
  position: absolute;
  content: "";
}

.loader:before {
  width: 2.6em;
  height: 5.1em;
  background: #fff;
  border-radius: 5.1em 0 0 5.1em;
  top: -0.1em;
  left: -0.1em;
  transform-origin: 2.6em 2.55em;
  animation: load2 2s infinite ease 1.5s;
}

.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 5em;
  height: 5em;
  box-shadow: inset 0 0 0 0.5em #999;
  transform: translateZ(0);
}

.loader:after {
  width: 2.6em;
  height: 5.1em;
  background: #fff;
  border-radius: 0 5.1em 5.1em 0;
  top: -0.1em;
  left: 2.55em;
  transform-origin: 0px 2.55em;
  animation: load2 2s infinite ease;
}

@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader,
.loader:before,
.loader:after {
  margin: 0;
  transform: scale(0.4);
}

.button {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 12px 25px 14px 56px;
  margin: 0 0 1rem 0;
  background-color: #fff;
  border-radius: 100em;
  border: 2px solid #999;
  color: #999;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-in-out;
}
.button:hover {
  border-color: #333;
  color: #333;
}
.button:hover .button--icon-like {
  fill: #333;
}
.button.is-liked {
  border-color: #f00;
  color: #f00;
}
.button.is-liked .button--icon-like {
  fill: #f00;
}
.button:disabled {
  border: 2px solid #999;
  color: #999;
  cursor: default;
}

.button--text {
  display: inline-block;
  font-size: 24px;
}

.button--icon {
  position: absolute;
  top: 13px;
  left: 25px;
  transition: all 0.4s ease-in-out;
}
.is-loading .button--icon {
  opacity: 0;
}

.button--icon-like {
  fill: #999;
}
.is-loading .button--icon-like {
  transform: scale(1.25);
}

.button--icon-loading {
  top: -2px;
  left: 10px;
  opacity: 0;
}
.is-loading .button--icon-loading {
  opacity: 1;
}


.description {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  width: 80%;
  height: 18%;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  z-index: 3:
}

.description p {
	color: white;
}


.oowaku {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
}


h1 {
  color: #000;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 0px;
}


.headwrap{
  position: relative;
}

.rogo{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  display: inline-block;
  margin: auto;
}

#header {
  background: url("http://thumb1.shutterstock.com/display_pic_with_logo/1487123/134611310/stock-vector-colorful-geometric-background-with-triangles-vector-eps-134611310.jpg");
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

.menu {
  margin: 20px;
}

nav {
    width: 312px;
    height: 100%;
    transition: all 0.2s;
    transform: translate(312px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #000;
    color:#fff;
   }
   nav.open {
    transform: translate(0);
   }


.btn_menu {
    display: block;
    background: none;
    border: none;
    padding: 0;
    width: 42px;
    color: #FFF;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 90%;
    z-index: 1001;
    outline: none;
  }
  /*   ハンバーガーボタン3本線   */
.btn_menu span.bar {
    display: block;
    height: 2px;
    background-color: #FFF;
    margin: 10px 0;
    transition: all 0.2s;
    transform-origin: 0 0;
  }
.btn_menu .close {
    letter-spacing: 0.08em;
    display: none;
  }
.btn_menu .menu {
    display: block;
  }
  /*  メニューアクティブ時  */
.btn_menu.active span.bar {
    width: 49px;
  }
.btn_menu.active .bar1 {
    transform: rotate(30deg);
  }
.btn_menu.active .bar2 {
    opacity: 0;
  }
.btn_menu.active .bar3 {
    transform: rotate(-30deg);
  }
.btn_menu.active .nav_menu {
    display: none;
  }
.btn_menu.active .close {
    display: block;
  }

#fadeLayer {
  position:absolute;
  top:0px;
  left:0px;

  width:100%;
  height:100%;

  background-color:#000000;
  opacity:0.5;
  visibility:hidden;
  z-index:1;
}


#form1{
position: relative;
}

#sbox {
height: 50px;
padding: 0 10px;
position: absolute;
left: 8%;
top: 20%;
width:200px;
border-radius:2px 0 0 2px;
border-right:none;
border:solid 3px #eaeaea;
outline: 0;
}

#sbtn{
padding: 0;
width: 70px;
height: 50px;
position: absolute;
left: 230px;
top: 20%;
border-radius:0 2px 2px 0;
background:#7fbfff;
color:#fff;
border:solid 3px #eaeaea;
font-weight:bold;
font-size:16px;
outline: 0;
}

#sbtn:hover{
background:#eaeaea;
color:#7fbfff;
}

a.h_button {
  display: inline-block;

  min-width: 5em;

  margin-right: 1ex;

  position: relative;
  top: calc(50% - 1em);

  text-align: center;
  font-size: 1.28em;
  font-weight: bold;
  font-size: 17px;

  background: rgba(0, 0, 0, 0.1);

  border: 2px solid white;

  transition: background 0.32s ease-in-out, box-shadow 0.32s ease-in-out;
}

a.h_button span {
  display: inline-block;

  width: 100%;
  height: 100%;

  padding: 1ex;

  color: white;

  transition: color 0.32s ease-in-out;
}
a.h_button:hover, a.h_button:focus, a.h_button.active {
  background: white;

  color: black;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.48);
}

a.h_button:hover span, a.h_button:focus span, a.h_button.active span {
  color: #444;
}


a.h_button_logout {
  display: inline-block;

  min-width: 5em;

  margin-right: 1ex;


  position: absolute;
  left: 25%;
  top: 35%;

  text-align: center;
  font-size: 1.28em;

  background: rgba(0, 0, 0, 0.1);

  border: 2px solid red;
  color: red ;

  transition: background 0.32s ease-in-out, box-shadow 0.32s ease-in-out;
}

a.h_button_logout span {
  display: inline-block;

  width: 100%;
  height: 100%;

  padding: 1ex;

  color: white;

  transition: color 0.32s ease-in-out;
}
a.h_button_logout:hover, a.h_button_logout:focus, a.h_button_logout.active {
  background: white;

  color: black;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.48);
}

a.h_button_logout:hover span, a.h_button_logout:focus span, a.h_button_logout.active span {
  color: #444;
}