@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);


@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);


*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,body{
	height: 100%;
	width: 100%;
}

body {
  background-color: #50a3a2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background: -webkit-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: -moz-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: -o-linear-gradient(top left, #8A0886 0%, #0B0B61 100%);
  background: linear-gradient(to bottom right, #8A0886 0%, #0B0B61 100%);
  background-repeat: no-repeat;
  overflow: hidden;
}





.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  width: 80%;
  height:90%;
}

.container .right {
  position: relative;
  display: none;
  margin: auto;
  top: 20px;
  width: 73%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}
.container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: rgba(229, 255, 255, 0.15);
}
.container .right .top span {
  font-size: 15px;
  color: #999;
}
.container .right .top span .name {
  color: #ffffff;
  font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 600;
}

.clear {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba( 127, 255, 255, 0.2 );
	margin: auto;
    width: 95%;
    height:95%;
    z-index: 1;
}


.profile{
	position: relative;
	top: 20px;

	background-color:rgba( 127, 255, 255, 0.1 );

	margin: auto;
    width: 73%;
    height:100%;
}



.user-info {
	margin-bottom: 2em;
	background-color: rgba( 10, 10, 10, 0.7 );
	width: 100%;
    height: 15%;
}

/* user Image */
.icon img{
	margin-right: 8px;
	border-radius: 50%;
	display: inline-block;
	transform: translatey(10px);
	padding: auto;
}



/* user data */
.user-data {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;

}

.icon {
	height: 15%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	display: inline-block;
  text-align: center;
}

/* user name */
.user-data h1.user-name {
	display: inline;
	color: #ffffff;
	width: 275px;
	font-size: 40px;

}

/* patrons status*/
.user-data p.patrons-only {
/* 	width: 100px; */
	display: inline-block;

}
.user-data p.patrons-only:hover {cursor: no-drop;}

/* the date & Time for last update */
.user-data p.patrons, .date-time {
	display: inline-block;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-color: teal;
}

h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
  color: #999;
}

.wrap {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.wrap div {
  position: relative;
  margin: 20px 0;
}

.wrap div .setting {
  display: block;
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 200;
}

.wrap div .setting:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}

.info {
  position: absolute;
  height: 370px;
  font-size: 30px;
  margin: 10px;
  padding: 0 10px;
  background-color:rgba( 127, 255, 255, 0 );
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  overflow: scroll;
}

.active {
  top: -25px;
  font-size: 20px;
}

.cool {
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  font-size: 20px;
  background-color:rgba( 127, 255, 255, 0.3 );
  color: white;
}

.cool:focus {
  outline: none;
}

#contents {
  position: relative;
  display: none;
  overflow: auto;
  height: 80%;
  padding: 0 35px 92px;
  text-align: center;
  margin-top: -20px;
  justify-content: flex-end;
  flex-direction: column;
}

.contents_info{
	text-align: center;
}

#contents_show {
  display: block;
  position: absolute;
  padding: 20px 38px;
  top: 0;
  left: 2%;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 20, 224, 133, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

#contents_show:hover {
  top: -3px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.3 );
  background: rgba( 20, 224, 133, 0.8);

  -webkit-transform: rotateX(5deg);
     -moz-transform: rotateX(5deg);
      -ms-transform: rotateX(5deg);
          transform: rotateX(5deg);
}

#contents_show:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.3 );
  background: rgba( 20, 224, 133, 1 );
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(155, 155, 0, .1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 0, 200, .2);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

#regist_button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #EE3769;
  border-radius: 8px;
  height: 2.8em;
  width: 10em;
  margin-top: 10px;
  outline: none;
  overflow: hidden;
  color: #fff;
  background-color: rgba(255,41,137,0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
  position: absolute;
}
#regist_button:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: 1;
}
#regist_button:hover {
  color: #fff;
  z-index: 1;
}
#regist_button:hover:before {
  box-shadow: inset 0px 0px 0px 10em #ee3769;
  z-index: -1;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.photo {
  position: relative;
  margin: auto;
  min-width: 300px;
  max-width: 400px;
  max-height: 300px;
  overflow: hidden;
  text-align: center;
  background: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.photo * {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.photo img {
  opacity: 0.25;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

figure.photo figcaption {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
  transform: rotate(0deg) translateY(-50%) scale(1);
  -webkit-transform-origin: center 0;
  transform-origin: center 0;
}

figure.photo figcaption h2 {
  top: 50%;
  letter-spacing: -1px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
}

figure.photo figcaption h2 span {
  font-weight: 800;
}

figure.photo figcaption:before,
figure.photo figcaption:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.photo figcaption:before {
  left: 0;
  top: 0;
}

figure.photo figcaption:after {
  bottom: 0;
  right: 0;
}

figure.photo.blue {
  background: #091b27;
}

figure.photo.red {
  background: #2e0e0a;
}

figure.photo.yellow {
  background: #4f3204;
}

figure.photo.green {
  background: #061c10;
}

figure.photo.navy {
  background: #000000;
}

figure.photo a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.photo:hover img,
figure.photo.hover img {
  opacity: 1;
}

figure.photo:hover figcaption,
figure.photo.hover figcaption {
  -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.photo:hover figcaption:before,
figure.photo.hover figcaption:before,
figure.photo:hover figcaption:after,
figure.photo.hover figcaption:after {
  width: 200%;
}

.contents_wrap {
  position: relative;
  display: inline-block;
  z-index: 1;
  background: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.button-one, .btn, .button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 0;
}
.btn {
  border-radius: 4px;
  background-color:#d35400;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}



.menu {
  margin: 20px;
}

nav {
    width: 312px;
    height: 100%;
    transition: all 0.2s;
    transform: translate(312px);
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
    background-color: #000;
    color:#fff;
   }
   nav.open {
    transform: translate(0);
   }


.btn_menu {
    display: block;
    background: none;
    border: none;
    padding: 0;
    width: 42px;
    color: #FFF;
    letter-spacing: 0.1em;
    cursor: pointer;
    position: fixed;
    top: 86%;
    left: 93%;
    z-index: 1001;
    outline: none;
  }
  /*   ハンバーガーボタン3本線   */
.btn_menu span.bar {
    display: block;
    height: 2px;
    background-color: #FFF;
    margin: 10px 0;
    transition: all 0.2s;
    transform-origin: 0 0;
  }
.btn_menu .close {
    letter-spacing: 0.08em;
    display: none;
  }
.btn_menu .menu {
    display: block;
  }
  /*  メニューアクティブ時  */
.btn_menu.active span.bar {
    width: 49px;
  }
.btn_menu.active .bar1 {
    transform: rotate(30deg);
  }
.btn_menu.active .bar2 {
    opacity: 0;
  }
.btn_menu.active .bar3 {
    transform: rotate(-30deg);
  }
.btn_menu.active .nav_menu {
    display: none;
  }
.btn_menu.active .close {
    display: block;
  }

#fadeLayer {
  position:absolute;
  top:0px;
  left:0px;

  width:100%;
  height:100%;

  background-color:#000000;
  opacity:0.5;
  visibility:hidden;
  z-index:1;
}


#form1{
position: relative;
}

#sbox {
height: 50px;
padding: 0 10px;
position: absolute;
left: 8%;
top: 20%;
width:200px;
border-radius:2px 0 0 2px;
border-right:none;
border:solid 3px #eaeaea;
outline: 0;
}

#sbtn{
padding: 0;
width: 70px;
height: 50px;
position: absolute;
left: 230px;
top: 20%;
border-radius:0 2px 2px 0;
background:#7fbfff;
color:#fff;
border:solid 3px #eaeaea;
font-weight:bold;
font-size:16px;
outline: 0;
}

#sbtn:hover{
background:#eaeaea;
color:#7fbfff;
}

a.h_button {
  display: block;

  min-width: 5em;

  margin-right: 1ex;

  position: relative;
  top: calc(50% - 1em);

  text-align: center;
  font-size: 1.28em;
  font-weight: bold;
  font-size: 17px;

  background: rgba(0, 0, 0, 0.1);

  border: 2px solid white;

  transition: background 0.32s ease-in-out, box-shadow 0.32s ease-in-out;
}

a.h_button span {
  display: inline-block;

  width: 100%;
  height: 100%;

  padding: 1ex;

  color: white;

  transition: color 0.32s ease-in-out;
}
a.h_button:hover, a.h_button:focus, a.h_button.active {
  background: white;

  color: black;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.48);
}

a.h_button:hover span, a.h_button:focus span, a.h_button.active span {
  color: #444;
}

a.h_button_logout {
  display: inline-block;

  min-width: 5em;

  margin-right: 1ex;


  position: absolute;
  left: 28%;
  top: 35%;

  text-align: center;
  font-size: 1.28em;

  background: rgba(0, 0, 0, 0.1);

  border: 2px solid red;
  color: red ;

  transition: background 0.32s ease-in-out, box-shadow 0.32s ease-in-out;
}

a.h_button_logout span {
  display: inline-block;

  width: 100%;
  height: 100%;

  padding: 1ex;

  color: white;

  transition: color 0.32s ease-in-out;
}
a.h_button_logout:hover, a.h_button_logout:focus, a.h_button_logout.active {
  background: white;

  color: black;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.48);
}

a.h_button_logout:hover span, a.h_button_logout:focus span, a.h_button_logout.active span {
  color: #444;

