
<% include ../header %>
	<title>グループ一覧画面</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../../stylesheets/grouplist.css">
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="">
</head>
<body>

	<button type="button" class="btn_menu">
    <span class="bar bar1"></span>
    <span class="bar bar2"></span>
    <span class="bar bar3"></span>
    <span class="nav_menu">MENU</span>
    <span class="close">CLOSE</span>
  </button>
  <nav>
  	<a href="./logout" class="h_button_logout"><span>ログアウト</span></a>
    <a href="/1" class="h_button"><span>HOME</span></a>
    <a href="../../newpost" class="h_button"><span>作品投稿</span></a>
    <a href="../grouplist" class="h_button"><span>グループページ</span></a>
    <a href="../../user/<%= id %>/edit" class="h_button"><span>ユーザー設定</span></a>
  </nav>

	<div class="wrapper">

		<div id="menu">
			<a href="./groupregist" class="user_button" style="width: 100px;"><span>グループ新規登録</span></a>
		</div>
		<div class="container">

			<div class="profile">

				<div class="clear">

					<div class="wrap">

						<div class="info">


							<ul id="group_list">
								<h2>グループ一覧</h2>
								<div>
									<% for(var i in group_list){ %>
										<a href="groupsetting/<%= group_list[i].id %>" class="user_button"><span><%= group_list[i].group_name %></span></a>
									<% } %>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="fadeLayer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../../../javascript/grouplist.js"></script>
</body>

<% include ../footer %>