<% include ../header %>
	<title>ユーザー登録画面</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../stylesheets/groupregist.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
<div class="menu">
        <button type="button" class="btn_menu">
		  <span class="bar bar1"></span>
		  <span class="bar bar2"></span>
		  <span class="bar bar3"></span>
		  <span class="nav_menu">MENU</span>
		  <span class="close">CLOSE</span>
		</button>
		<nav>
			<form>
				<form id="form1" action="#">
					<a href="./logout" class="h_button_logout"><span>ログアウト</span></a>
				</form>
				<a href="/1" class="h_button"><span>HOME</span></a>
		        <a href="../../newpost" class="h_button"><span>作品投稿</span></a>
		    	<a href="../../grouplist" class="h_button"><span>グループページ</span></a>
		    	<a href="../../user/<%= id %>/edit" class="h_button"><span>ユーザー設定</span></a>
			<form>
		</nav>
      </div>
    </div>
	</div>

	<h2><strong>　</strong></h2>
	<h1><strong>グループ登録</strong></h1>
	<div id="err_mes"></div><br>
	<div class="form-group">
		<label for="title">ユーザー検索<span>idを入れて検索してください</span></label>
		<input type="text" id="get_login_id" class="form-controll">
		<button id="get_user" type="button" >検索</button>
		<div id="add_user_area" ></div><button id="add_user_button" type="button" >追加</button><br>
		<ul id="group_users_area"></ul>

		<div class="bottom"><label for="title">グループ名<span>グループ名を入れてください</span></label></div>
		<input id="group_name" type="text" name="group_name" class="form-controll"><br>
		<input type="hidden" id="login_id" value="<%= id %>">
		<button id="group_regist_button" type="button">登録する</button>


	</div>
<script src="../../javascript/groupregist.js"></script>
</body>
<% include ../footer %>

<script>
$(function(){

	 $('#add_user_button').prop('disabled', true);

	 var ioSocket = io.connect();
		$("#get_user").click(function(){
		$("#add_user_area").show(500);
		$("#add_user_area").empty();
		var login_id = $("#get_login_id").val();
		ioSocket.emit("look_up_user",login_id);
	});

	var add_user ;
	ioSocket.on("geting_user", function(user){
		add_user = user;
 		elem_area = document.getElementById('add_user_area');
 		elem_area.appendChild(document.createTextNode("検索結果：" + user.user_name));
 		$("#add_user_button").show(500);

 		$('#add_user_button').prop('disabled', false);
 	});
 	ioSocket.on("nothing_user", function(errmsg){
 		add_user = "";
 		elem_area = document.getElementById('add_user_area');
 		elem_area.appendChild(document.createTextNode("検索結果：" + errmsg));
 		$("#add_user_button").hide(500);

 		$('#add_user_button').prop('disabled', true);

 	});

	var group_users = {};;
	$("#add_user_button").click(function(){
		$("#group_users_area").show(500);
		group_users[add_user.login_id] = add_user;
		elem_area = document.getElementById('group_users_area');
		set_list_elem = document.createElement('li');
		set_list_elem.className=add_user.login_id;
		del_button = document.createElement("button");
		del_button.type = "button";
		del_button.className  = "del_button";
 		elem_area.appendChild(set_list_elem).appendChild(document.createTextNode(add_user.user_name));
 		elem_area.appendChild(del_button).appendChild(document.createTextNode("削除する"));
 		add_user = "";

		$('#add_user_button').prop('disabled', true);

		$("button.del_button").off('click');
	 	$("button.del_button").click(function(){
			var del_user = $(this).prev().attr("class");
			delete group_users[del_user];
			$(this).prev().remove();
			$(this).remove();

		});
	});

	$("#group_regist_button").click(function(){
		var group_name = $("#group_name").val();
		var login_id = $("#login_id").val();
		ioSocket.json.emit("group_regist", {group_name : group_name,
											group_users: group_users,
											login_id : login_id
											});
		ioSocket.on('redirect', function(destination) {
		window.location.href = destination;
		});
 	});

 	ioSocket.on('regist_err', function(err_mes){
 		elem_area = document.getElementById('err_mes');
 		elem_area.appendChild(document.createTextNode(err_mes));
 	});
});

</script>