<% include ../header %>
<title>グループ詳細画面</title>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../stylesheets/group.css">
<meta name="viewport" content="width=1024" />
</head>
<body>

	<button type="button" class="btn_menu">
    <span class="bar bar1"></span>
    <span class="bar bar2"></span>
    <span class="bar bar3"></span>
    <span class="nav_menu">MENU</span>
    <span class="close">CLOSE</span>
  </button>
  <nav>
    <a href="/1" class="h_button"><span>HOME</span></a>
    <a href="../../newpost" class="h_button"><span>作品投稿</span></a>
    <a href="../../grouplist" class="h_button"><span>グループページ</span></a>
    <a href="../../user/<%= login_user.id %>/edit" class="h_button"><span>ユーザー設定</span></a>
  </nav>
<input type="hidden" id="sender_id" value="<%= login_user.id %>">
<input type="hidden" id="sender_name" value="<%= login_user.user_name %>">
<input type="hidden" id="group_id" value="<%= group.id %>">
	<div class="wrapper">
		<div class="container">

			<div class="profile">

				<div class="clear">
					<section class="user-info">
						<div class="user-data">
						<!--user data -->

							<!--name user -->
							<label name="name"><h1 class="user-name">グループ名:<%= group.group_name %></h1></label>

						</div>
					</section>

					<div class="wrap">
						<div class="icon"></div>
						<div class="info">
							<div>
								<label name="admin_user">管理者:<a href="../../user/<%= group.admin_user_id %>" class="button" id="User Name"><%= group.user_name %></a></label>
							</div>

							<div>
								<ul id="group_users">
									ユーザー一覧
									<br/>
									<% for(var i in users){ %>
										<li><a href="../../user/<%= users[i].id %>" class="button" id="User Name"><%= users[i].user_name %></a></li>
									<% } %>
								</ul>
							</div>
								<div>
											グループ紹介<br>
									<p><%= group.self_introduction %></p>
								</div>
						</div>
					</div>

						<div id="contents">
							<% for(var i = 0; i < posts.length; i++){ %>
								<div class="contents_wrap">
										<figure class="photo navy">
											<% if(posts[i].media_id == 0){ %>
											<img class="posts" src="<%= posts[i].content_url %>">
										<% }else{ %>
											<video controls>
												<source src="<%= posts[i].content_url %>">
											</video>
										<% } %>
											<figcaption>
												<h2><span><%= posts[i].title %></span></h2>
											</figcaption>
											<a href="./post/<%= posts[i].id %>"></a>
										</figure>
									</div>
								 <% } %>
							 </div>

						 </div>
					</div>

					<button id="contents_show">投稿作品一覧を表示する</button>
					<% for(var i = 0; i < groups.length; i++){ %>
						<% if(groups[i].id  == group.id){ %>
							<button id="start_chats">グループチャットをはじめる</button>
							<div class="right" >
									<div class="top"><span><span class="name">送り先、グループ名</span></span></div>

									<div class="chat">


									</div>

									<div class="write">
											<input type="text" id="text"/>
											<button id="send_message">送信</button>
									</div>
							</div>
						<% } %>
					<% } %>
				</div>
		</div>



<div id="fadeLayer"></div>
<script src="../../javascript/group.js"></script>
</body>
<% include ../footer %>

<script>
	$(function(){
		var i = 0;
		var sender_id = $("#sender_id").val();
		var sender_name = $("#sender_name").val();
		var text = $("#text").val();
		var group_id = $("#group_id").val();
		$(".right").css("display", "none");
		var socket = io.connect();

		$("#start_chats").click(function(){
			if($(".right").css("display") == "none"){
				$("#text").focus();
				$(".profile").hide(200);

				$(".right").show(50);
				setTimeout(function(){
       				 $("#text").focus();
    			},700);
				$("#start_chats").text("グループチャットをやめる");
				$("#contents_show").prop("disabled", true);

				socket.emit("first_client_to_server_group", {
					"keyword": group_id,
					"table_name": "groups_chats"
				});
				socket.emit("join_room", {
					"keyword": group_id
				});
			}else{
				$(".right").hide(150);
				$(".profile").show(200);
				$("#start_chats").text("グループチャットをはじめる");
				$(".chat").html("");
				$("#contents_show").prop("disabled", false);
			}
		});
		$("#send_message").click(function(){
			var text = $("#text").val();
			$("#text").val("");
			socket.emit("client_to_server_group", {
				"keyword": group_id,
				"sender_id": sender_id,
				"sender_name": sender_name,
				"text": text,
				"table_name": "groups_chats"
			});
		});

		$("#text").on("keydown", function(e) {
			if(typeof e.keyCode === "undefined" || e.keyCode === 13) {
				var text = $("#text").val();
				$("#text").val("");
				socket.emit("client_to_server_group", {
				"keyword": group_id,
				"sender_id": sender_id,
				"sender_name": sender_name,
				"text": text,
				"table_name": "groups_chats"
				});
			}
		});

		socket.on('first_server_to_client_group', function(data){before_message_all(data.all_messages)});

		socket.on('server_to_client_group', function(data){
			if(data.sender_id == sender_id){
    			$(".chat").append('<div class="bubble you">'+data.message+"["+data.sender_name+"]</div>");
    			$(".chat").scrollTop( $(".chat")[0].scrollHeight );
    			$('#text').focus();
    		}else{
    			$(".chat").append('<div class="bubble me">'+data.message+"["+data.sender_name+"]</div>");
    			$(".chat").scrollTop( $(".chat")[0].scrollHeight );
    		}
		});


		function before_message_all(all_messages) {
	    	var text;
	    	for(var i in all_messages){
	    		text = all_messages[i].text;
	    		if(all_messages[i].sender_id == sender_id){
	    		console.log(all_messages[i].sender_name);
	    			$(".chat").append('<div class="bubble you">'+text+"["+all_messages[i].sender_name+"]("+all_messages[i].created_date+")</div>");
	    		}else{
	    			$(".chat").append('<div class="bubble me">'+text+"["+all_messages[i].sender_name+"]("+all_messages[i].created_date+")</div>");
	    		}
	    	}

	    }
	});
</script>