<% include ../header %>
	<title>グループ編集画面</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../stylesheets/groupsetting.css">
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="">
</head>
<body>

<button type="button" class="btn_menu">
	<span class="bar bar1"></span>
	<span class="bar bar2"></span>
	<span class="bar bar3"></span>
	<span class="nav_menu">MENU</span>
	<span class="close">CLOSE</span>
</button>
<nav>
	<a href="../../logout" class="h_button_logout"><span>ログアウト</span></a>
	<a href="../../1" class="h_button"><span>HOME</span></a>
	<a href="../../newpost" class="h_button"><span>作品投稿</span></a>
	<a href="../../grouplist" class="h_button"><span>グループページ</span></a>
	<a href="../../user/<%= user.id %>/edit %>" class="h_button"><span>ユーザー設定</span></a>
</nav>

<div class="wrapper">
	<div id="beat">
		<div id="pulsingheart"></div>
	</div>


		<div class="container">

			<div class="profile">


			<div class="clear">
				<section class="user-info">
					<div class="user-data">
						<h1 class="user-name">グループ名:<%= group.group_name %></h1>

					</div>
				</section>
				<div class="wrap">
					<div class="info">
						<form method="post" action="/groupsetting/<%= group.id %>">
							<div>
								<label name="name">グループ名:</label><input type="text" name="name" value="<%= group.group_name %>">
							</div>

							<div>
								管理者:<%= group.user_name %>
							</div>

							<div>
							<ul id="group_users">
								ユーザー一覧

								<br/>

								<% for(var i in users){ %>
									<li><a href="../../user/<%= users[i].id %>" id="User Name"><%= users[i].user_name %></a></li>

								<% } %>
							</ul>
							</div>
							<div>
								<label name="self_introduction">グループ紹介</label><br>
								<textarea id="self_introduction" name="self_introduction" class="setting"><%= group.self_introduction %></textarea>
							</div>
							<button type="submit" id="regist_button">更新する</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="fadeLayer"></div>
<script src="../../javascript/groupsetting.js"></script>
</body>

<% include ../footer %>
