<!DOCTYPE html>
<html lang="ja" style="height: 100%; width: 100%;>
<head>
	<meta charset="utf-8">
	<title>トップ画面</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./stylesheets/top.css">
	<meta name="viewport" content="width=1024" />
	<title>pexiv</title>
</head>
<body>

	<div id="header">
    <div class="headwrap">
      <div class="menu">
        <a href="./newpost" class="h_button"><span>作品投稿</span></a>
    	  <a href="/" class="h_button"><span>グループページ</span></a>
    		<a href="./user/<%= user_id %>/edit" class="h_button"><span>ユーザー設定</span></a>
        <div class="rogo"><img src="../../../images/36088336_181659436015978_3831886219952783360_n.png" /></div>
        <button type="button" class="btn_menu">
		  <span class="bar bar1"></span>
		  <span class="bar bar2"></span>
		  <span class="bar bar3"></span>
		  <span class="nav_menu">MENU</span>
		  <span class="close">CLOSE</span>
		</button>
		<nav>
			<form>
				<form id="form1" action="#">
					<input id="sbox" name="s" type="text" placeholder="キーワードを入力" />
					<input id="sbtn" type="submit" value="検索" />
					<a href="./logout" class="h_button_logout"><span>ログアウト</span></a>
				</form>
			<form>
		</nav>
      </div>
    </div>
	</div>

  <div class="container">
  <h1>Will's Summer To-Do List</h1>


	<div id="photos">
<div class="paging">
    <% for(var j = 1; j <= pages; j++){ %>
	    <% if(showing_page == j){ %>
	    	<%= j %>
	    <% }else{ %>
	    	<a href="/<%= j %>"><%= j %></a>
	    <% } %>
    <% } %>
   </div>

    <% for(var i = 0; i < posts.length; i++){ %>
    	<div class="wrap">
	      <figure class="photo navy">
	      	<% if(posts[i].media_id == 0){ %>
    			<img class="posts" src="<%= posts[i].content_url %>">
    		<% }else{ %>
    			<video controls>
    				<source src="<%= posts[i].content_url %>">
    			</video>
    		<% } %>
	        <figcaption>
	          <h2><span><%= posts[i].title %></span></h2>
	        </figcaption><a href="./post/<%= posts[i].id %>"></a>
	      </figure>
	      <div class="info">
	        <div class="icon"><img src="http://via.placeholder.com/60x60/333333/FFFffff" alt="User Image" title="User Image"></div>
	        <% if(posts[i].user_id != null){ %>
	        	<a href="./user/<%= posts[i].user_id %>" class="btn" id="<%= posts[i].name %>"><%= posts[i].name %></a>
	        <% }else{ %>
	        	<a href="./group/<%= posts[i].group_id %>" class="btn group_btn" id="<%= posts[i].name %>"><%= posts[i].name %></a>
	        <% } %>
	        <input type="hidden" id="post_id" value="<%= posts[i].id %>">
	        <% if(liked_post.indexOf(posts[i].id) == -1){ %>
		        <button class="button js-likeButton">
		          <div class="loader button--icon button--icon-loading js-likeLoadingIcon">Loading...</div>
		          <svg class="button--icon button--icon-like js-likeIcon" width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"/></svg>
		          <span class="button--text js-likeText">Like</span>
		        </button>
		    <% }else{ %>
		    	 <button class="button js-likeButton is-liked">
		          <div class="loader button--icon button--icon-loading js-likeLoadingIcon">Loading...</div>
		          <svg class="button--icon button--icon-like js-likeIcon" width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"/></svg>
		          <span class="button--text js-likeText">Like</span>
		        </button>
		    <% } %>
	        <span class="js-numberOfLikes"><%= posts[i].likes %></span> likes

	      </div>
	    </div>
    <% } %>
    <div class="paging">
	    <% for(var j = 1; j <= pages; j++){ %>
		    <% if(showing_page == j){ %>
		    	<%= j %>
		    <% }else{ %>
		    	<a href="/<%= j %>"><%= j %></a>
		    <% } %>
	    <% } %>
    </div>


		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./javascript/top.js"></script>
</body>
</html>