<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ログイン</title>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="stylesheet/less" type="text/css" href="../team/public/stylesheets/login.less"> -->
		<link rel="stylesheet" href="../../../stylesheets/login.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="">
	</head>

	<img src="../../../images/composition.gif"width="1349" height="613" border="0" align="center" hspace="0" vspace="0" style="z-index: 1000; position: absolute;" class="intro"/>

	<body class="bg-bubbles" style="z-index: 1;">

		<div class="wrapper" style="z-index: 2;">
			<div class="container" style="z-index: 2;">
				<div class="form" style="z-index: 3;">
					<h1><img src="../../images/36088336_181659436015978_3831886219952783360_n.png" style="display: none;" class="p_rogo"/></h1>

						<ul class="tab-group">
				            <li class="tab active" style="z-index: 3;"><a href="#login" style="z-index: 3;">Log In</a></li>
				            <li class="tab" style="z-index: 3;"><a href="#signup" style="z-index: 3;">Sign Up</a></li>
		          		</ul>

			          <div class="tab-content" style="z-index: 3;">

			          <div id="login">

			            <% if (typeof noUser !== 'undefined') { %>
        					<p class="error"><%= noUser %></p>
    					<% } %>

			              <form action="/login" method="post">

			                <div class="field-wrap">
			                <label>
			                  ログイン名<span class="req">*</span>
			                </label>
			                <input type="text" name="login_id" required autocomplete="off"/>
			              </div>

			              <div class="field-wrap">
			                <label>
			                  Password<span class="req">*</span>
			                </label>
			                <input type="password" name="password"required autocomplete="off"/>
			              </div>

			              <button class="button button-block">Log In</button>
			              </form>
						</div>

			            <div id="signup" style="z-index: 3;">

			              <form action="signup" method="post">


						<div class="top-row">
			                <div class="field-wrap">
			                  <label>
			                    ユーザー名<span class="req">*</span>
			                  </label>
			                  <input type="text" name="user_name" required autocomplete="off" />
			                </div>

			                <div class="field-wrap">
			                  <label>
			                    ログインID<span class="req">*</span>
			                  </label>
			                  <input pattern="^[0-9A-Za-z]+$" type="text" name="login_id" title="半角英数字でご入力ください。" required autocomplete="off" />
			                </div>
			              </div>


						<div class="top-row">
			              <div class="field-wrap">
			                <label>
			                  number of hairs<span class="req">*</span>
			                </label>
			                <input type="text" name="number_of_hairs" pattern="\d[0-9]{0,9}" title="そんなに生えては、ないですよね。" required autocomplete="off"/>
			              </div>

			              <div class="select-field-wrap">
			                <label>
			                  年齢<span class="req">*</span>
			                </label>
			                <select class="bgc" name="age">
			                	<option value="0"></option>
			                	<% for(var i = 1; i < 101; i++) {%>

			                	<option value="<%= i %>"><%= i %></option>
			                	<% } %>
			                </select>
			              </div>
			            </div>

			              <div class="select-field-wrap">
			                <label>
			                  性別<span class="req">*</span>
			                </label>
			                <select class="bgc" name="gender">
			                	<option value="0"></option>
			                	<option value="1">男</option>
			                	<option value="2">女</option>
			                	<option value="3">どちらでもない</option>
			                </select>
			              </div>

			              <div class="field-wrap">
			                <label>
			                  Set A Password<span class="req">*</span>
			                </label>
			                <input type="password" name="password" required autocomplete="off"/>
			              </div>

			              <button type="submit" class="button button-block">Get Started</button>

			              </form>

			            </div>

					</div><!-- tab-content -->

		   		 </div> <!-- /form -->
		   	</div>


				<ul class="tab-group">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li class="tab active" style="z-index: 3;"><a href="#login" style="z-index: 3;">Log In</a></li>
				    <li class="tab" style="z-index: 3;"><a href="#signup" style="z-index: 3;">Sign Up</a></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="../../../javascript/login.js"></script>
	</body>
