<% include ../header %>
	<meta charset="utf-8">
  	<title>新規投稿画面</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/newpost.css">
  </head>
  <body>
  <% if(my_groups.length > 0){ %>
  	<input type="hidden" id="group_exists" value="true">
  <% } %>

    <button id="group">グループ投稿</button>

    <div class="non-group">

    <h1><strong>作品投稿</strong></h1>


      <form action="./newpost" method="post" enctype="multipart/form-data">
        <input type="hidden" value="<%= login_user_id %>" name="login_user_id">
        <input type="hidden" name="who" value="individual">

        <div class="form-group">
          <label for="title">タイトル <span>Use title case to get a better result</span></label>
          <input type="text" name="title" id="title" class="form-controll"/>
        </div>

        <div class="form-group">
          <label for="description">説明 <span>This caption should be descriptiv</span></label>
          <input type="text" id="description" name="description" class="form-controll"/>
        </div>

        <div class="form-group file-area">
              <label for="images">作品 <span>Your images should be at least 400x300 wide</span></label>
          <input type="file" name="file" id="images" required="required" multiple="multiple"/>
          <div class="file-dummy">
            <div class="success">準備完了！！</div>
            <div class="default">クリックして作品を入れてください</div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="spin" id="spin">
            <span>投稿する</span>
            <span>
              <svg viewBox="0 0 24 24">
                <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
              </svg>
            </span>
          </button>
        </div>

      </form>

    </div>




    <div class="group">

    <h1><strong>グループ作品投稿</strong></h1>

      <form action="./newpost" method="post" enctype="multipart/form-data">
        <input type="hidden" value="<%= login_user_id %>" name="login_user_id">
        <input type="hidden" name="who" value="group">

        <div class="form-group">
          <label for="title">タイトル <span>Use title case to get a better result</span></label>
          <input type="text" name="title" id="title" class="form-controll"/>
        </div>

        <div class="form-group">
          <label for="description">説明 <span>This caption should be descriptiv</span></label>
          <input type="text" id="description" name="description" class="form-controll"/>
        </div>

        <div class="form-group file-area">
        	<label for="images">作品 <span>Your images should be at least 400x300 wide</span></label>
        	<input type="file" name="file" id="images" required="required" multiple="multiple"/>
        	<div class="file-dummy">
            	<div class="success">準備完了！！</div>
            	<div class="default">クリックして作品を入れてください</div>
         	</div>
        </div>


        <div class="form-group">
        	<select name="group">
        		<% for(var i = 0; i < my_groups.length; i++){ %>
        			<option value="<%= my_groups[i].id %>"><%= my_groups[i].group_name %></option>
        		<% } %>
        	</select>
        </div>

        <div class="form-group">
          <button type="submit" class="spin" id="spin">
            <span>投稿する</span>
            <span>
              <svg viewBox="0 0 24 24">
                <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
              </svg>
            </span>
          </button>
        </div>

      </form>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./javascript/newpost.js"></script>
  </body>
</html>

<% include ../footer %>