

<a href="../../user/<%= post.user_id %>">ユーザーページへ行く</a>



<% include ../header %>
		<title>作品詳細画面</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../stylesheets/post.css">
		<!--[if lt IE 9]>
		<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="">
	</head>
	<body>
	<div id="header">
	    <div class="headwrap">
	      <div class="menu">
	      	<a href="../../1" class="h_button"><span>HOME</span></a>
	        <a href="../../newpost" class="h_button"><span>作品投稿</span></a>
	    	  <a href="../../grouplist" class="h_button"><span>グループページ</span></a>
	    		<a href="../../user/<%= id %>/edit" class="h_button"><span>ユーザー設定</span></a>
	        <div class="rogo"><img src="../../../images/36088336_181659436015978_3831886219952783360_n.png" /></div>
	        <button type="button" class="btn_menu">
			  <span class="bar bar1"></span>
			  <span class="bar bar2"></span>
			  <span class="bar bar3"></span>
			  <span class="nav_menu">MENU</span>
			  <span class="close">CLOSE</span>
			</button>
			<nav>
				<form>
					<form id="form1" action="#">
						<a href="./logout" class="h_button_logout"><span>ログアウト</span></a>
					</form>
				<form>
			</nav>
	      </div>
	    </div>
		</div>

		<h2><strong>　</strong></h2>
		<h2><strong>　</strong></h2>

		<div class="containar">
			<div class="wrap">
			  <h1>
			    <span class="title"><%= post.title %></span>
			    <span class="title"><%= post.title %></span>
			    <span class="title"><%= post.title %></span>
			  </h1>
		      <figure class="photo navy">
		      	<% if(post.media_id == 0){ %>
	    			<img class="posts" src="<%= post.content_url %>">
	    		<% }else{ %>
	    			<video controls="" controlslist="nodownload">
	    				<source src="<%= post.content_url %>">
	    			</video>
	    		<% } %>
		      </figure>
		      <div class="info">
			      <div class="description">
			      	<p><%= post.description %></p>
			      </div>
		        <div class="icon"><img src="http://via.placeholder.com/60x60/333333/FFFffff" alt="User Image" title="User Image"></div>
		        <a href="../../user/<%= post.user_id %>" class="btn" id="User Name"><%= post.name %></a>
		        <input type="hidden" id="post_id" value="<%= post.id %>">
		       <% if(is_liked){ %>
		        <button class="button js-likeButton is-liked">
		          <div class="loader button--icon button--icon-loading js-likeLoadingIcon">Loading...</div>
		          <svg class="button--icon button--icon-like js-likeIcon" width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"/></svg>
		          <span class="button--text js-likeText">Like</span>
		        </button>
		   		<% }else{ %>
		    	 <button class="button js-likeButton">
		          <div class="loader button--icon button--icon-loading js-likeLoadingIcon">Loading...</div>
		          <svg class="button--icon button--icon-like js-likeIcon" width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"/></svg>
		          <span class="button--text js-likeText">Like</span>
		        </button>
		    <% } %>
	        <span class="js-numberOfLikes"><%= post.likes %></span> likes

		      </div>
		    </div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="../../javascript/post.js"></script>
	</body>

<% include ../footer %>