
<% include ../header %>
		<title>作品編集画面</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../../stylesheets/postedit.css">
		<!--[if lt IE 9]>
		<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="">
	</head>
	<body>

		<div id="header">
	    <div class="headwrap">
	      <div class="menu">
	      	<a href="../../1" class="h_button"><span>HOME</span></a>
	        <a href="../../newpost" class="h_button"><span>作品投稿</span></a>
	    	  <a href="../../grouplist" class="h_button"><span>グループページ</span></a>
	    		<a href="../../user/<%= id %>/edit" class="h_button"><span>ユーザー設定</span></a>
	        <div class="rogo"><img src="../../../images/36088336_181659436015978_3831886219952783360_n.png" /></div>
	        <button type="button" class="btn_menu">
			  <span class="bar bar1"></span>
			  <span class="bar bar2"></span>
			  <span class="bar bar3"></span>
			  <span class="nav_menu">MENU</span>
			  <span class="close">CLOSE</span>
			</button>
			<nav>
				<a href="../../logout" class="h_button_logout"><span>ログアウト</span></a>
			</nav>
	      </div>
	    </div>
		</div>

		<h2><strong>　</strong></h2>
		<h2><strong>　</strong></h2>

		<div class="containar">
			<div class="wrap">
				<form method="post" action="./edit">
				  <h1>
				    <label for="title"><h1>タイトル	</h1></label>
				    <input type="text" name="title" id="title" class="form-controll" value="<%= post.title %>">
				  </h1>
			      <figure class="photo navy">
			      	<% if(post.media_id == 0){ %>
		    			<img class="posts" src="<%= post.content_url %>">
		    		<% }else{ %>
		    			<video controls>
		    				<source src="<%= post.content_url %>">
		    			</video>
		    		<% } %>
			      </figure>
			      <div class="info">
				  		<div class="description">
					      <label for="description" style="color: #FFF">説明文</label>
					      <textarea name="description" id="description" rows="10" cols="100"><%= post.description %></textarea>
						</div>
			      </div>
			      <input type="submit" id="send_regist" value="変更する">
			      <input type="hidden" name="_method" value="put">
			     </form>
		    </div>
		</div>
		<div id="fadeLayer"></div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="../../../javascript/postedit.js"></script>
	</body>

<% include ../footer %>