<<<<<<< HEAD
<% include ../header %>
	<title>ユーザー登録画面</title>
</head>
<body>
<<<<<<< HEAD
	 <% if(typeof login_exists !== 'undefined'){ %>
		<p class="error"><%= login_exists %></p>
	<% } %>
	<form action="signup" method="post">
		ユーザー名：<input type="text" name="user_name"><br>
		ログインID：<input type="text" name="login_id"><br>
		パスワード：<input type="password" name="password"><br>
		年齢：<input type="text" name="age"><br>
		性別：<select name="gender" size="1">
			<option value="0" selected>性別を選択してください</option>
			<option value="1">男</option>
			<option value="2">女</option>
			<option value="3">どちらでもない</option>
			</select><br>

		ユーザー紹介：<input type="text" name="self_introducion"><br>
		<input type="submit" value="登録する">
	</form>
=======
<form action="signup" method="post">
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="submit" value="登録する">
</form>
>>>>>>> af7b324e8735b11a8d544d791e54631862181f66
</body>
=======
<% include ../header %>
	<title>ユーザー登録画面</title>
</head>
<body>
<form action="signup" method="post">
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="text">
	<input type="submit" value="登録する">
</form>
</body>
>>>>>>> 22e18810342c7b2114efd6a36b8f40dd232e1e6b
<% include ../footer %>