


<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>chat</title>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../..//stylesheets/chat.css">
		<!--[if lt IE 9]>
		<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="">

		<body class="bg-bubbles">
		<input type="hidden" id="receiver_login_id" value="<%= user.login_id %>" >
		<input type="hidden" id="sender_login_id" value="<%= login_user.login_id %>">
		<input type="hidden" id="receiver_id" value="<%= user.id %>" >
		<input type="hidden" id="sender_id" value="<%= login_user.id %>">
		<input type="hidden" id="sender_name" value="<%= login_user.user_name %>">
		<button type="button" class="btn_menu">
			  <span class="bar bar1"></span>
			  <span class="bar bar2"></span>
			  <span class="bar bar3"></span>
			  <span class="nav_menu">MENU</span>
			  <span class="close">CLOSE</span>
			</button>
			<nav>
				<a href="../../logout" class="h_button_logout"><span>ログアウト</span></a>
				<a href="../../1" class="h_button"><span>HOME</span></a>
		        <a href="../../newpost" class="h_button"><span>作品投稿</span></a>
		    	<a href="../../grouplist" class="h_button"><span>グループページ</span></a>
		    	<a href="../../user/<%= login_user.id %>/edit" class="h_button"><span>ユーザー設定</span></a>
			</nav>
		<div class="wrapper">



			<div id="beat">
				<div id="pulsingheart"></div>
			</div>
		    <div class="container">


		    	<div class="profile">



					<div class="clear">
						<section class="user-info">
							<div class="user-data">
							<!--user data -->

								<!--name user -->
								<h1 class="user-name">　</h1>

							</div>
						</section>
					<!-- 	 End SECTION user information -->

						<div class="wrap">
						  <div class="icon"><img src="http://via.placeholder.com/120x120/333333/FFFffff" alt="User Image" title="User Image"></div>
						  <div class="user-name"><h1><%= user.user_name %></h1></div>
						  <h2>NoH</h2>
						  <div>
						    <label for="fname" class="info"><%= user.number_of_hairs %></label>
						    <p id="fname" type="text" class="cool"/>
						  </div>
						  <h2>自己紹介</h2>
						  <div>
						    <label for="email" class="info"><%= user.self_introduction %></label>
						    <p id="email" type="text" class="cool"/>
						  </div>
						</div>



						<div id="contents">
							<% for(var i = 0; i < posts.length; i++){ %>
								<div class="contents_wrap">
							      <figure class="photo navy">
							      	<% if(posts[i].media_id == 0){ %>
						    			<img class="posts" src="<%= posts[i].content_url %>">
						    		<% }else{ %>
						    			<video controls>
						    				<source src="<%= posts[i].content_url %>">
						    			</video>
						    		<% } %>
							        <figcaption>
							          <h2><span><%= posts[i].title %></span></h2>
							        </figcaption><a href="../../post/<%= posts[i].id %>"></a>
							      </figure>
						     	</div>
						     <% } %>
					    </div>

					</div>
				</div>


				<button id="contents_show">投稿作品一覧を表示する</button>

			    <button id="start_chats">このユーザーとチャットをはじめる</button>
			        <div class="right" >
			            <div class="top"><span><span class="name">送り先、グループ名</span></span></div>

			            <div class="chat">


			            </div>

			            <div class="write">
			                <input type="text" id="text"/>
			                <button id="send_message">送信</button>
			            </div>
			        </div>
			    </div>
			</div>


		<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			    <li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
		</ul>



		<!-- Place your content here -->
		<!-- SCRIPTS -->
		<!-- Example: <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="../../../javascript/chat.js"></script>
	</body>
</html>

<script>
	$(function(){
		var i = 0;
		var sender_login_id = $("#sender_login_id").val();
		var receiver_id = $("#receiver_id").val();
		var receiver_login_id = $("#receiver_login_id").val();
		var sender_id = $("#sender_id").val();
		var sender_name = $("#sender_name").val();
		$(".right").css("display", "none");
		var socket = io.connect();

		$("#start_chats").click(function(){
			if($(".right").css("display") == "none"){
				$("#text").focus();
				$(".profile").hide(200);

				$(".right").show(50);
				setTimeout(function(){
       				 $("#text").focus();
    			},700);
				$("#start_chats").text("このユーザーとのチャットをやめる");
				$("#contents_show").prop("disabled", true);

				socket.emit("first_client_to_server", {
					"keyword": sender_login_id+receiver_login_id,
					"table_name": "individuals_chats"
				});
				socket.emit("join_room", {
					"keyword": sender_login_id+receiver_login_id
				});
			}else{
				$(".right").hide(150);
				$(".profile").show(200);
				$("#start_chats").text("このユーザーとチャットをはじめる");
				$(".chat").html("");
				$("#contents_show").prop("disabled", false);
			}
		});
		$("#send_message").click(function(){
			var text = $("#text").val();
			$("#text").val("");
			socket.emit("client_to_server", {
				"keyword": sender_login_id+receiver_login_id,
				"receiver_id": receiver_id,
				"sender_id": sender_id,
				"sender_name": sender_name,
				"text": text,
				"table_name": "individuals_chats"
			});
			socket.emit("client_to_server", {
				"keyword": receiver_login_id+sender_login_id,
				"receiver_id": receiver_id,
				"sender_id": sender_id,
				"sender_name": sender_name,
				"text": text,
				"table_name": "individuals_chats"
			});
		});

		$("#text").on("keydown", function(e) {
			if(typeof e.keyCode === "undefined" || e.keyCode === 13) {
				var text = $("#text").val();
				$("#text").val("");
				socket.emit("client_to_server", {
					"keyword": sender_login_id+receiver_login_id,
					"receiver_id": receiver_id,
					"sender_id": sender_id,
					"sender_name": sender_name,
					"text": text,
					"table_name": "individuals_chats"
				});
				socket.emit("client_to_server", {
					"keyword": receiver_login_id+sender_login_id,
					"receiver_id": receiver_id,
					"sender_id": sender_id,
					"sender_name": sender_name,
					"text": text,
					"table_name": "individuals_chats"
				});
			}
		});

		socket.on('first_server_to_client', function(data){before_message_all(data.all_messages)});

		socket.on('server_to_client', function(data){
			 i++;
			 if(i == 2){
				if(data.sender_id == sender_id){
	    			$(".chat").append('<div class="bubble you">'+data.message+"</div>");
	    			$(".chat").scrollTop( $(".chat")[0].scrollHeight );
	    			$('#text').focus();
	    		}else{
	    			$(".chat").append('<div class="bubble me">'+data.message+"</div>");
	    			$(".chat").scrollTop( $(".chat")[0].scrollHeight );
	    		}
				i = 0;
			}
		});


		function before_message_all(all_messages) {
	    	var text;
	    	for(var i in all_messages){
	    		text = all_messages[i].text;
	    		if(all_messages[i].sender_id == sender_id){
	    			$(".chat").append('<div class="bubble you">'+text+"</div>");
	    		}else{
	    			$(".chat").append('<div class="bubble me">'+text+"</div>");
	    		}
	    	}
	    }
	});
</script>