<!DOCTYPE html>
<html>
	<head>
		<title>ユーザー設定画面</title>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../../stylesheets/usersetting.css">
		<!--[if lt IE 9]>
		<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="">
	</head>

	<body>

		<button type="button" class="btn_menu">
		  <span class="bar bar1"></span>
		  <span class="bar bar2"></span>
		  <span class="bar bar3"></span>
		  <span class="nav_menu">MENU</span>
		  <span class="close">CLOSE</span>
		</button>
		<nav>
	    	<a href="../../logout" class="h_button_logout"><span>ログアウト</span></a>
				<a href="../../1" class="h_button"><span>HOME</span></a>
		        <a href="../../newpost" class="h_button"><span>作品投稿</span></a>
		    	<a href="../../grouplist" class="h_button"><span>グループページ</span></a>
		</nav>

		<div class="wrapper">
			<div id="beat">
				<div id="pulsingheart"></div>
			</div>


		    <div class="container">

		    <button id="contents_show">投稿作品一覧を表示する</button>

		    	<div class="profile">


					<div class="clear">
						<section class="user-info">
							<div class="user-data">
							<!--user data -->

								<!--name user -->
								<h1 class="user-name">ユーザー名:<%= user.user_name %></h1>

							</div>
						</section>

					<div class="wrap">
						<div class="icon"></div>

						<div class="info">
							<form action="./edit" method="post">
								<div>
									<label for="number_of_hairs">髪の毛の数:</label><input type="text" value="<%= user.number_of_hairs %>" id="number_of_hars" name="number_of_hairs" class="setting" >
								</div>
								<div>
									<label for="user_name">ユーザー名:</label><input type="text" value="<%= user.user_name %>" id="user_name" name="user_name" class="setting">
								</div>
								<div>
									<label for="login_id">ログインID:</label><input type="text" value="<%= user.login_id %>" id="login_id" name="login_id" class="setting">
								</div>
								<div>
									<label for="password">パスワード:</label><input type="password" id="password" name="password" class="setting">
								</div>
								<div>
									<label for="self_introduction">自己紹介:</label><textarea id="self_introduction" name="self_introduction" class="setting"><%= user.self_introduction %></textarea>
								</div>
								<input type="hidden" name="_method" value="put">
								<button type="submit" id="regist_button">更新する</button>
							</form>
						</div>
					</div>

					<div id="contents">

				     	<% for(var i = 0; i < posts.length; i++){ %>
							<div class="contents_wrap">
								<figure class="photo navy">
									<% if(posts[i].media_id == 0){ %>
										<img src="<%= posts[i].content_url %>">
									<% }else{ %>
										<video controls>
											<source src="<%= posts[i].content_url %>">
										</video>
									<% } %>
									<figcaption>
								          <h2>タイトル  <span><%= posts[i].title %></span></h2>
								    </figcaption><a href="../../post/<%= posts[i].id %>/edit"></a>
								</figure>
								<div class="contents_info">
									<form action="../../post/<%= posts[i].id %>" method="post">
										<button type="submit" class="btn" id="User Name"><span>削除する</span></button>
										<input type="hidden" name="_method" value="delete">
									</form>
								</div>
							</div>
						<% } %>
				    </div>
				  </div>
				</div>
	    </div>
	   </div>

		<!-- Place your content here -->
		<!-- SCRIPTS -->
		<!-- Example: <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
		<div id="fadeLayer"></div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="../../../javascript/usersetting.js"></script>
	</body>
</html>